# ASSIGNMENT 1

In [3]:
str1 = "Good Morning"
print(str1)

Good Morning

# 1. Back Slash

In [5]:
print("Good \
Morning")

Good Morning

# 2. Tiple Quote

In [6]:
print("""        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
""")

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [7]:
"""        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
"""

'        *\n      * * *\n    * * * * *\n  * * * * * * *\n* * * * * * * * *\n'

# 3. String Inside Code

In [14]:
print("Student's Code")

Student's Code

# 4. Escape Sequence of String

In [11]:
print("Good\t Morning")

Good	 Morning

In [12]:
print("Good\nMorning")

Good
Morning

In [13]:
print('Student\'s Code')

Student's Code

# 5. Formatted Output

In [6]:
student_name = 'Nidhi'
roll_no = 56
print('Student name : %s , roll number : %d'%(student_name,roll_no))

Student name : Nidhi , roll number : 56

In [10]:
student_name = 'Nidhi'
roll_no = 56
print(f'Student name : {student_name} , roll number : {roll_no}')

Student name : Nidhi , roll number : 56

In [15]:
student_name = 'Nidhi'
roll_no = 56
print('Student name : ', student_name ,', roll number : ' , roll_no)

Student name :  Nidhi , roll number :  56

# 6. Python Variable & Assignment Statement

In [17]:
num = 10

- Here 'num' is a variable & '=' is a aasignment operator & 10 is data.
- Variable means which hold the data.

## Rules for define a variable 
- Python is a case sensitive programming language so variable also case sensitive.
- Python dose not allow special characters such as @, $, % within identifiers.
- In Python variable not start with numbers.
- In Python we can not use if , def ,break, continue as variable.

In [18]:
num1 = num2 = 44

In [19]:
num1

44

In [20]:
num2

44

In [21]:
id(num1)

140732658067184

In [22]:
id(num2)

140732658067184

In [23]:
del(num1)

In [24]:
num1

NameError: name 'num1' is not defined

In [25]:
num2

44

In [26]:
del(num2)

In [27]:
num1 = num2 = 50

# 7. Python Operator

Operators are the constructs which can manipulate the value of other operands.
Consider the expression 2 + 3 = 5, here 2 & 3 are oprends & + is operator.

Type of operators :- 
1. Arithmetic 2. Comparsion 3. Bitwise 4. Membership 5. Assignment 6. Logical 7. Identity

# (I) Arithmetic Operator:
- Addition : a + b
- Substraction : a - b
- Multiplication : a * b
- Division : a / b
- Modulus : a % b
- Exponent : a ** b
- Floor Division : a // b

In [29]:
num1 , num2 = 12 , 17
print("Addition : ",num1 + num2)

Addition :  29

In [31]:
num1 , num2 = 25 , 12
print("Substraction : ",num1 - num2)

Substraction :  13

In [32]:
num1 , num2 = 5 , 10
print("Multiplication : ",num1 * num2)

Multiplication :  50

In [34]:
num1 , num2 = 15, 7
print("Division : ",num1 / num2)

Addition :  2.142857142857143

In [36]:
num1 , num2 = 15 , 2
print("Modulus : ",num1 % num2)

Modulus :  1

In [37]:
num1 , num2 = 15 , 2
print("Exponent : ",num1 ** num2)

Exponent :  225

In [38]:
num1 , num2 = 15 , 2
print("Floor Division : ",num1 // num2)

Floor Division :  7

# (II) Comparision Operator
- Equal to : a == b
- Not equal to : a != b
- Greater than : a > b
- Less than : a < b
- Greater than equal to : a >= b
- Less than equal to : a <= b

In [40]:
a = b = 9
print(a == b)

True

In [41]:
a , b = 2,5
print(a == b)

False

In [42]:
a = b = 9
print(a != b)

False

In [44]:
a , b = 2,5
print(a != b)

True

In [45]:
a , b = 2,5
print(a > b)

False

In [46]:
a , b = 2,5
print(a < b)

True

In [47]:
a,b = 99,66
print(a > b)

True

In [49]:
a , b = 200,55
print(a < b)

False

In [50]:
a ,b = 11,11
print(a <= b)

True

In [51]:
a ,b = 1,11
print(a <= b)

True

In [52]:
a ,b = 51,11
print(a <= b)

False

In [53]:
a ,b = 11,11
print(a >= b)

True

In [54]:
a ,b = 10,11
print(a <= b)

True

In [55]:
a ,b = 111,11
print(a <= b)

False

# (III) Bitwise Operator
- Binary AND a & b
- Binary OR a | b
- Binary XOR a ^ b 
- Binary NOT : a ~ b
- Binary Left Shift : a <<
- Binary Right Shift : a >> b

# (IV) Assignment Operator
- Assign value from right to left -> a = b
- a = a + b -> a += b
- a = a - b -> a -= b
- a = a * b -> a *= b
- a = a / b -> a /= b
- a = a ** b -> a **= b
- a = a // b -> a //= b

# (V) Logical Operator 

- a and b : return a if a is false, otherwise b.

- a or b : return b if b is false, otherwise a.

- not a : return true if a is true, otherwise false.

In [57]:
print(5== 5 and 5> 2)

True

# (VI) Membership Operator 
- in : Evaluates to TRUE if it find a variable in the specified sequence and FALSE otherwise.
- not in : Evaluates to TRUE if it does not find a variable in the specified sequence and FALSE otherwise.

In [60]:
lis = (4,6,9)
print (4  not in lis)
print (6  in lis)

False
True

# (VII) Identity Operator
- is : Evaluates to TRUE if the variables on either side of the operator point to the same object and FALSE otherwise.

- is not : Evaluates to FALSE if the variables on either side of the operator point to the same object and TRUE otherwise.

In [ ]:
print (5 is 4)
today = 'thursday'
rainy_day = 'wednesday'
print (today is rainy_day)
print (today is not rainy)